.grid-board {
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-gap: 0;
  align-self: flex-start;
  grid-gap: 1px; /* Add a gap! */
  background: linear-gradient(#000000, #000000) 50% 50% / calc(100% - 40px)
      calc(100% - 40px) no-repeat,
    radial-gradient(
        at 40% 70%,
        var(--color-1) 0%,
        var(--color-2) 20.411%,
        var(--color-3) 42.061%,
        var(--color-4) 49.218%,
        var(--color-5) 100%
      )
      1% 19%/195% 148%;
  border-radius: 10px;
  padding: 1.5rem;
  box-sizing: content-box;
}
