* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-0: rgba(0, 0, 0, 0.5);
  --color-1: #ff761b;
  --color-2: #eec900;
  --color-3: #0059ff;
  --color-4: #cc00ff;
  --color-5: #00ff00;
  --color-6: #00aaff;
  --color-7: #ff3a3ad7;

  --cols: 10;
  --rows: 18;
  --tile-size: 24px;
  --border-width: 5px;
}

.color-0 {
  background-color: var(--color-0);
}

.color-1 {
  background-color: var(--color-1);
}

.color-2 {
  background-color: var(--color-2);
}

.color-3 {
  background-color: var(--color-3);
}

.color-4 {
  background-color: var(--color-4);
}

.color-5 {
  background-color: var(--color-5);
}

.color-6 {
  background-color: var(--color-6);
}

.color-7 {
  background-color: var(--color-7);
}
